
/*  override https://www.w3schools.com/w3css/w3css_responsive.asp

W3.CSS uses the DP size of a screen

Breakpoints defined by W3.CSS:
  W3.CSS will treat an iPhone 6 with a resolution of 750 x 1334 pixels as a small screen of 375 x 667 pixels DP.
  -small screens are less than 601 pixels DP
  -medium screens are less than 993 pixels DP
*/
table {
  border-spacing: 0px;
}

td {
  line-height: 1em;
  padding: 0px;
  white-space: nowrap;
  color: white;
}

img.points {
  padding: 3px;
  width: 25px;
  height: 25px;
}

img.board {
  width: 25px;
  height: 20px;
}

/* relative tile sizes for large screens */
@media (min-width: 993px) {
  img.points {
    width: 4vmin;
    height: 4vmin;
  }
  img.board {
    width: 4vmin;
    height: 4vmin;
  }
}


img.navigation {
  height: 50px;
  width: 50px;
}
img.navigation:hover {
  background-color: #F6F4F1;
}
img.navigation:active {
  background-color: #F11111;
}

img.fireball {
  padding: 0px;
  margin: 19px;
  height: 16px;
  width: 16px;
}

button.navigation {
  margin: 2px;
  border: none;
  padding: 0px;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 0, 0, 0.0);
}

div.w3-container {
  padding: 0px;
}
