table {
  border-spacing: 0px;
}

td {
  width: 25px;
  height: 25px;
  padding: 0px;
  white-space: nowrap;
  text-align: center;
  color: white;
}

img.points {
  padding: 3px;
  height: 25px;
  width: 25px;
}
